*{
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    margin:0;
    gap: 50px;
    justify-content: space-evenly;
    background: linear-gradient(135deg, #1c1c1c, #333);;
}
h1{
    position: absolute ;
    color: white;
}
.escolha{
    cursor: pointer;
    top:180px;
    position: relative;
    backdrop-filter: blur(10px);
    border-radius: 100%;
    width: 300px;
    height: 300px;
    text-align: center;
    scale: 1;
    transition: all 0.5s;
}
.escolha:hover{
    scale: 1.1;
}
.escolha h2{
    top: 100%;
    position: relative;
    box-shadow: black;
    color: white;
}
#admin{
    background: url("/assets/admin.jpg") no-repeat;
    background-size: cover;
}
#care{
    background: url("/assets/care.jpg") no-repeat;
    background-size: cover;
}
#ware{
    background: url("/assets/ware.jpg") no-repeat;
    background-size: cover;
}