body{
    text-align: center;
    background-color: black;
    color: white;
}

h1,h2{
    top:100px;
    position: relative;
}

input{
    top:100px;
    width: 400px;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    border: 2px black solid;
}
input[type="submit"]{
    width: 200px;
    color: white;
    cursor: pointer;
    background-color: green;
    border: 2px darkgreen solid;
    border-radius: 10px;
}